* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 150px;
}


ul {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 800;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
